@font-face {
  font-family: code39;
  src: url("./../fonts/code39-regular.ttf") format("truetype");
}
@font-face {
  font-family: qr;
  src: url("./../fonts/AlphanumericQR.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  display: flex;
  padding: 10px;
  gap: 10px;
}

.bar-code-128 {
  font-family: "Libre Barcode 128", system-ui;
  font-weight: 100;
  font-size: 3rem;
}
.bar-code-39 {
  font-family: "code39";
  font-weight: 50;
  font-size: 3rem;
}
.qr-code {
  font-family: "qr";
  font-weight: 50;
  font-size: 3rem;
}

.container-view{
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 70vw;
  height: 90vh;
  background-color: #444444;
}

#Etq {
  display: flex;
  border: 1px solid black;
  background-color: #fff;
}
